body{
	background-color: skyblue;
}

.whole{
	display: grid;
	grid-area: 180px;
}
#choice{

	width: 180px;
	height: 150px;
	border: 2px solid white;
	border-width: 5px;
	border-radius: 10px;
	margin:5px;
	box-shadow: 10px 10px 5px rgb(39, 82,108, 1.0);
}
#choice:hover{
	border: 5px solid red;
	zoom: 1.1;
	transition: 1s;

}


.game{
	align-items: center;
	display: block;

/*	margin-left: 35%;*/
	margin-top: 20px;
	margin: auto;

}
.score{
	margin: auto;
}
.score ul{
	display: flex;
	flex: left;
	margin: 20px;
	font-size: 2rem;
	text-decoration: bold;
	list-style: none;

}
.score ul li{
	margin: 35px;
	margin-bottom: 20px;
}
.result{
	margin-top: 15px;
	margin: auto;
	}
#result{
	width: 500px;
	height: 50px;
	margin-left: 50px;
	font-size: 1.5rem;

}
#move{
	margin-bottom: 20px;
	font-size: 2rem;
	text-align: center;
}